# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

scripts/generateItems.js

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
# Encouraged to ignore these for build health
ios/
android/
package-lock.json
yarn.lock

# Editor
.editorconfig

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# editors
*.swp
.vscode/
*.xcodeproj/

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example
